.nav {
    background-color: $second-project-color;
}

.bottom-text {
    color: white;
}

.nav-menu {
    background-color: $second-project-color;
    color: white;
}

.bottom-text {
    text-align: center;
}